.centrarX{
    position:absolute;
   -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    left:50%!important;
}
.relative{
    position:relative;
}
.centrarY{
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    top: 50%;
}
.centrar{
    position: absolute;
    transform: translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.strong{
    font-weight:bold!important;
}
