.leftNav{
    float: left;
    position: absolute;
    bottom: 0px;
    z-index:1;
}
.rightNav{
    float: right;
    right:10px;
    position: absolute;
    top:10px;
    z-index:1;
}
.bottomNav{
    position: absolute;
    z-index:1;
    bottom:10px;
}
.bottomNav span{
    position: absolute;
    text-align:center;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    top: 40%;
}
.bottomNav small{
    position: absolute;
    color: white;
    font-weight: bolder;
    font-size: 12px;
    top: 10%;
    width: 50px;
}
