.leftNav{
    float: left;
    position: absolute;
    bottom: 0px;
    z-index:1;
}
.rightNav{
    float: right;
    right:10px;
    position: absolute;
    top:10px;

    z-index:1;
}
.bottomNav{
    position: absolute;
    bottom:100px;
width:300px;
    z-index:1;

}
