.modalReact{
    right: auto;
    bottom: auto;
    border: 1px solid rgb(204, 204, 204);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin-right: -50%;
    background: rgb(255, 255, 255);
}
.ReactModal__Overlay{
    z-index:2;
}
